:root {
    --icon-font: 20px;
    --bar-font: 30px;
    --icon-color: black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    height: 60px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page {
    padding: 10px 15px;
    cursor: pointer;
}

.icon {
    width: var(--icon-font);
    filter: brightness(0%);
}

.page {
    margin: 10px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.page a {
    margin-left: 10px;
}

.user,
.login {
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}

.user-display {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-display img {
    width: var(--bar-font);
}

.user-display p {
    margin-left: 10px;
}

.login {
    color: #eee;
}

.user {
    position: relative;
}

.user-dropdown::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    transform: rotate(45deg);
    left: 20px;
    top: -6px;
}

.user-dropdown {
    position: absolute;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #000;
    background-color: #fff;
}

.user-dropdown li {
    padding: 15px 8px;
}